body {

      color: #eeeeee;
      margin: 0;
      font-family: source_sans_pro, Open Sans, sans-serif;
      font-size: 1.1em;
      letter-spacing: 0.5px;

      font-family: 'Open Sans', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;

    }
    html {

    }

    hr {
      border-color: #eeeeee;
      border-width: 5px;
      border-style: none;
      border-top-style: dotted;
      width: 5%;
    }

    a:visited {
     text-decoration: none;
     color: #eeeeee;

    }

h1{
  color: #eeeeee;
  text-align: center;
}
h3{
  color: #eeeeee;
  text-align: center;
}
body {
  text-align: center;
  margin: 0;
}

code {
    font-family: 'Roboto Mono', monospace;
    background: #0b0e0b;
    color: #dd828c;
    font-size: .9em;
    padding: 0 3px;
    border: 1px solid #666;
    border-radius: 3px;
}
p{


  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.name-sentence>span.name {
  color: #f2f2f2;
}
.name-sentence {
    text-align: left;
    color: #a6a6a6;
    font-size: 42px;
    left: 42px;
    letter-spacing: normal;
    position: absolute;
}

#nameOnContainer {
    color: #f2f2f2;
    margin-bottom: 0;
    padding: 0;
}
a:hover {
  background-color: white;
}
.top-container {
  background-color: yellow;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #404040;

  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px 0px rgb(12 12 12 / 75%);

  z-index: 7;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
#pageDef {
      color: #999;
}
#cell {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: block;
  position: : absolute;

  margin-right: 70px;

  text-align: right;
}
#nameOnContainer {
margin-top: 0;
text-align: left;
margin-left: 80px;
width: 33%;
font-size: 80%;
display: flex;
}
.top-container>span.name2 {
  text-align: left;
}
.middle-container {
  background-color: red;
  margin-left: 260px;
  border: solid 20px;
  border-color: black;
  height: 200px;
  width: 200px;
}
.bottom-container {
  background-color: blue;
  border: solid 10px;
  border-color: black;
  margin-left: 500px;
  height: 200px;
  width: 200px;
}
.home-header {
  background-color: #0A0A0A;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
.second-header {
  background-color: #00298a;
}
#twoone {


  text-align: left;
}
#two {
  width: 20%;
  text-align: left;
  height: 605px;
}

#panda {
  position: absolute;
  left: 90px;
  top: 60px;
}
#three {
  background: rgb(16, 16, 16);
}
.name-sentence {
  position: absolute;
  left: 400px;
  top: 60px;
}
